@import '../../App.scss';
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.home {
	overflow: hidden;
	min-height: calc(100vh - $s-80 - $s-48);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	&__blob {
		height: 24rem;
		width: auto;
		position: absolute;
		top: -8rem;
		right: -2rem;
		transform: rotate(210deg);
	}
	&__blob2 {
		height: 24rem;
		width: auto;
		position: absolute;
		top: -8rem;
		left: -2rem;
		transform: rotate(-210deg);
	}
	&__blob3 {
		height: 24rem;
		width: auto;
		position: absolute;
		bottom: -8rem;
		left: -2rem;
		transform: rotate(45deg);
	}
	&__blob4 {
		height: 24rem;
		width: auto;
		position: absolute;
		bottom: -8rem;
		right: -2rem;
		transform: rotate(-45deg);
	}

	&__landing {
		max-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
	}

	&__subtitle {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: $s-24;
		position: relative;

		&__text-item {
			color: $c-basic-black;
			font-size: $s-28;
			font-weight: 400;
			text-transform: uppercase;
		}
		&__icon {
			font-size: $s-8;
		}
		&__line {
			width: 15%;
			position: absolute;
			bottom: -1.8rem;
			left: -0.8rem;
		}
	}

	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		&__text-item {
			color: $c-basic-black;
			font-weight: 700;
			font-size: 16rem;
			text-transform: uppercase;
		}
		&__date {
			font-size: $s-32;
			font-weight: 100;
			font-family: 'Rock Salt', cursive;
			color: $c-primary-300;
			rotate: -14deg;
			right: 0;
			bottom: -$s-20;
			position: absolute;
		}
	}

	&__buttons {
		display: flex;
		gap: $s-32;
		margin-top: $s-56;
	}
}

@media screen and (max-width: 1100px) {
	.home {
		&__title {
			&__text-item {
				font-size: 14rem;
			}
			&__date {
				bottom: -$s-32;
			}
		}

		&__buttons {
			margin-top: $s-80;
		}
	}
}

@media screen and (max-width: 950px) {
	.home {
		&__subtitle {
			gap: $s-24;

			&__text-item {
				font-size: $s-24;
			}
		}

		&__title {
			&__text-item {
				font-size: 12rem;
			}
			&__date {
				bottom: -$s-40;
			}
		}
	}
}

@media screen and (max-width: 780px) {
	.home {
		&__blob {
			height: 20rem;
		}
		&__blob2 {
			height: 20rem;
		}
		&__blob3 {
			height: 20rem;
		}
		&__blob4 {
			height: 20rem;
		}

		&__subtitle {
			&__text-item {
				font-size: $s-20;
			}
			&__icon {
				font-size: $s-6;
			}
			&__line {
				bottom: -1.4rem;
			}
		}

		&__title {
			&__text-item {
				font-size: 10.5rem;
			}
			&__date {
				bottom: -$s-40;
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.home {
		&__subtitle {
			gap: $s-16;
			&__text-item {
				font-size: $s-18;
			}
			&__icon {
				font-size: $s-6;
			}
			&__line {
				bottom: -1.2rem;
			}
		}

		&__title {
			&__text-item {
				font-size: 9.5rem;
			}
			&__date {
				font-size: $s-28;
				bottom: -$s-32;
			}
		}
	}
}

@media screen and (max-width: 630px) {
	.home {
		&__blob {
			height: 18rem;
		}
		&__blob2 {
			height: 18rem;
		}
		&__blob3 {
			height: 18rem;
		}
		&__blob4 {
			height: 18rem;
		}

		&__subtitle {
			gap: $s-14;
			&__text-item {
				font-size: $s-16;
			}

			&__line {
				bottom: -1rem;
			}
		}

		&__title {
			&__text-item {
				font-size: 8rem;
			}
			&__date {
				font-size: $s-24;
				bottom: -$s-28;
			}
		}
	}
}

@media screen and (max-width: 530px) {
	.home {
		&__subtitle {
			gap: $s-10;
			&__text-item {
				font-size: $s-14;
			}
		}

		&__title {
			&__text-item {
				font-size: 7rem;
			}
			&__date {
				bottom: -$s-40;
			}
		}
	}
}

@media screen and (max-width: 450px) {
	.home {
		&__subtitle {
			gap: $s-8;
			&__text-item {
				font-size: $s-12;
			}
			&__icon {
				font-size: $s-4;
			}
			&__line {
				left: -0.6rem;
			}
		}

		&__title {
			&__text-item {
				font-size: 6rem;
			}
			&__date {
				bottom: -$s-32;
				font-size: $s-22;
			}
		}
	}
}
@media screen and (max-width: 410px) {
}

@media screen and (max-width: 380px) {
}

@media screen and (max-width: 340px) {
}
