@import '../../App.scss';

.projects {
	width: 85%;
	max-height: calc(100vh - $s-80 - $s-48);
	margin: 0 auto;
	display: flex;
	gap: $s-40;
	padding: $s-40 0;
	flex-direction: column;
	justify-content: start;
	align-items: center;

	&__wrapper {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 0 $s-40;
		gap: $s-40;

		&__item {
			position: relative;
			width: 100%;
			height: 100%;
			overflow: hidden;
			transition: all 0.3s ease;

			&:hover {
				img {
					filter: brightness(45%);
					transform: scale(1.05);
				}
			}

			&__img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all 0.3s ease;
			}

			&__overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: $s-48;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: $s-12;
				opacity: 0;
				transition: opacity 0.3s ease;
				border-radius: $s-16;

				&:hover {
					opacity: 1;
				}

				&__title {
					color: $c-basic-white;
					font-size: $s-32;
					text-align: center;
				}
			}
		}
	}
}

@media screen and (max-width: 1050px) {
	.projects {
		width: 100%;
		padding: $s-40 0;

		&__wrapper {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

@media screen and (max-width: 750px) {
	.projects {
		padding: 4rem 4rem 4rem 4rem;
	}
}

@media screen and (max-width: 550px) {
	.projects {
		padding: 1.6rem;
		margin-top: $s-32;

		&__wrapper {
			padding: 0 0;
		}
	}
}
